*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* body{
    background-color: aqua;
} */

#lightbulb{
    border: "solid";
    border-width: 10px;
    border-radius: 400px;
    border-color: rgb(106, 183, 255);
    border-style:ridge;
}